<script setup>
import { useLayoutStore } from "@/stores/layout";
import { useTaskStore } from "@/stores/task";
import { useQuasar } from "quasar";
import TaskFullForm from "@/components/forms/TaskFullForm.vue";

const layoutStore = useLayoutStore();
const taskStore = useTaskStore();
const $q = useQuasar();

const initialTask = {
  id: null,
  title: "",
  description: "",
  tags: [],
  state: "todo",
  endDate: null,
};

const saveTask = async (data) => {
  try {
    await taskStore.addTask(data);
    $q.notify({
      type: "positive",
      message: "Saved!",
    });
    layoutStore.closeNewTaskModal();
  } catch (e) {
    $q.notify({
      type: "negative",
      message: e.message,
    });
  }
};
</script>
<template>
  <q-dialog persistent v-model="layoutStore.newTaskModalStatus">
    <q-card style="width: 700px; max-width: 80vw">
      <q-card-section>
        <q-toolbar class="text-primary">
          <q-toolbar-title> New Task </q-toolbar-title>

          <q-btn
            round
            dense
            color="negative"
            icon="close"
            @click="layoutStore.closeNewTaskModal()"
          />
        </q-toolbar>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <task-full-form :task="initialTask" @submit="saveTask($event)" />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
