<script setup>
import { defineProps, inject } from "vue";
import { useField } from "vee-validate";
import * as yup from "yup";

const props = defineProps({
  endDate: String,
});

const errors = inject("errors");

const { value: endDate } = useField("endDate", yup.date().required(), {
  initialValue: props.endDate,
});
</script>
<template>
  <q-input
    filled
    v-model="endDate"
    mask="date"
    :error="!!errors.endDate"
    label="End Date"
    class="q-mb-sm"
  >
    <template v-slot:append>
      <q-icon name="event" class="cursor-pointer">
        <q-popup-proxy cover transition-show="scale" transition-hide="scale">
          <q-date v-model="endDate" mask="YYYY-MM-DD">
            <div class="row items-center justify-end">
              <q-btn v-close-popup label="Close" color="primary" flat />
            </div>
          </q-date>
        </q-popup-proxy>
      </q-icon>
    </template>
    <template v-slot:error>
      {{ errors.endDate }}
    </template>
  </q-input>
</template>
