<script setup>
import { defineProps, inject, ref } from "vue";
import { useField } from "vee-validate";
import * as yup from "yup";

const props = defineProps({
  tags: Array,
});

const errors = inject("errors");

const { value: tags } = useField(
  "tags",
  yup.array().of(
    yup
      .string()
      .required()
      .matches(/^[A-Za-z ]+$/, "The field must contain only letters or space")
  ),
  {
    initialValue: props.tags,
  }
);
const tagOptions = [...tags.value];
const tagFilterOptions = ref(tagOptions);
const tagCreateValue = (val, done) => {
  if (val.length > 0) {
    if (!tagOptions.includes(val)) {
      tagOptions.push(val);
    }
    done(val, "toggle");
  }
};

const tagFilterFn = (val, update) => {
  update(() => {
    if (val === "") {
      tagFilterOptions.value = tagOptions;
    } else {
      const needle = val.toLowerCase();
      tagFilterOptions.value = tagOptions.filter(
        (v) => v.toLowerCase().indexOf(needle) > -1
      );
    }
  });
};
</script>
<template>
  <q-select
    class="q-mb-sm"
    label="Tags"
    :error="!!errors.tags"
    filled
    use-input
    use-chips
    multiple
    input-debounce="0"
    @new-value="tagCreateValue"
    :options="tagFilterOptions"
    @filter="tagFilterFn"
    v-model="tags"
  >
    <template v-slot:error>
      {{ errors.tags }}
    </template>
  </q-select>
</template>
