<script setup>
import { defineProps, inject } from "vue";
import { useField } from "vee-validate";
import * as yup from "yup";

const props = defineProps({
  title: String,
});

const errors = inject("errors");

const { value: title } = useField(
  "title",
  yup
    .string()
    .required()
    .min(30)
    .max(30)
    .matches(/^[A-Za-z ]+$/, "The field must contain only letters or space"),
  {
    initialValue: props.title,
  }
);
</script>
<template>
  <q-input
    class="q-mb-sm"
    filled
    v-model="title"
    label="Title"
    :error="!!errors.title"
  >
    <template v-slot:error>
      {{ errors.title }}
    </template>
  </q-input>
</template>
