<script setup>
import { useTaskStore } from "@/stores/task";
import { useLayoutStore } from "@/stores/layout";
import { useQuasar } from "quasar";

const taskStore = useTaskStore();
const layoutStore = useLayoutStore();

const $q = useQuasar();

const onSelection = ({ rows }) => {
  rows.forEach((_t) => {
    taskStore.updateTaskStatus(
      _t.id,
      _t.state === "completed" ? "todo" : "completed"
    );
  });
  $q.notify({
    type: "positive",
    message: "Saved!",
  });
};

const columns = [
  {
    name: "title",
    field: "title",
    label: "Title",
    align: "left",
  },
  {
    name: "tags",
    field: "tags",
    label: "Tags",
    align: "left",
  },
  {
    name: "state",
    field: "state",
    label: "State",
    sortable: true,
    align: "left",
  },
  {
    name: "endDate",
    field: "endDate",
    label: "End Date",
    sortable: true,
    align: "right",
    format: (val) =>
      new Date(val).toLocaleDateString("en-US", {
        year: "numeric",
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "numeric",
      }),
  },
  {
    name: "actions",
    field: "id",
    label: "",
    align: "right",
  },
];

const editTask = (task) => {
  taskStore.setTask(task);
  layoutStore.openRightDrawer("TaskShortEdit");
};
</script>
<template>
  <q-table
    :dense="$q.screen.lt.md"
    :loading="taskStore.tasks.length === 0"
    title="Tasks"
    :rows="taskStore.filtetedList"
    :columns="columns"
    :filter="taskStore.filterTerm"
    :pagination="{ rowsPerPage: 15 }"
    row-key="id"
    class="mobile-hide"
    selection="multiple"
    :selected="taskStore.completedTasksList"
    @selection="onSelection"
  >
    <template v-slot:top-right>
      <q-btn-toggle
        class="q-mr-lg"
        toggle-color="primary"
        :options="[
          { label: 'All', value: null },
          { label: 'Completed', value: 'completed' },
          { label: 'Todo', value: 'todo' },
        ]"
        v-model="taskStore.filterState"
      />
      <q-input
        borderless
        dense
        debounce="300"
        placeholder="Search"
        v-model="taskStore.filterTerm"
      >
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-input>
    </template>
    <template v-slot:header="props">
      <q-tr :props="props">
        <q-th></q-th>
        <q-th v-for="col in props.cols" :key="col.name" :props="props">
          {{ col.label }}
          <q-input
            borderless
            dense
            debounce="300"
            placeholder="Search"
            v-if="col.name === 'title'"
            v-model="taskStore.filterTitle"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
          <q-select
            v-model="taskStore.filterTags"
            use-input
            use-chips
            multiple
            input-debounce="0"
            :options="taskStore.allTags"
            v-else-if="col.name === 'tags'"
          />
        </q-th>
      </q-tr>
    </template>
    <template v-slot:body-cell="props">
      <q-td :props="props">
        <template v-if="props.col.name === 'title'">
          <router-link
            :to="{ name: 'TaskDetail', params: { id: props.row.id } }"
            :class="[
              'text-primary',
              { 'text-strike': props.row.state === 'completed' },
            ]"
          >
            {{ props.value }}
          </router-link>
        </template>
        <template v-else-if="props.col.name === 'tags'">
          <q-chip dense :key="keyTag" v-for="(tag, keyTag) in props.value">
            {{ tag }}
          </q-chip>
        </template>
        <template v-else-if="props.col.name === 'endDate'">
          <span :class="[{ 'text-strike': props.row.state === 'completed' }]">
            {{ props.value }}
          </span>
        </template>
        <template v-else-if="props.col.name === 'state'">
          <q-chip
            text-color="white"
            :icon="props.value === 'completed' ? 'done' : 'pending'"
            :color="props.value === 'completed' ? 'green' : 'orange'"
            :label="props.value === 'completed' ? 'Completed' : 'Todo'"
          >
          </q-chip>
        </template>
        <template v-else-if="props.col.name === 'actions'">
          <q-btn
            push
            color="secondary"
            round
            icon="edit"
            @click="editTask(props.row)"
          />
        </template>
        <template v-else>
          {{ props.value }}
        </template>
      </q-td>
    </template>
  </q-table>
</template>
