<script setup>
import { useTaskStore } from "@/stores/task";
import { useLayoutStore } from "@/stores/layout";

const taskStore = useTaskStore();
const layoutStore = useLayoutStore();

const editTask = (task) => {
  taskStore.setTask(task);
  layoutStore.openRightDrawer("TaskShortEdit");
};
</script>
<template>
  <q-card
    v-for="task in taskStore.tasks"
    :key="task.id"
    class="desktop-hide q-mb-lg"
  >
    <q-card-section class="bg-primary text-white">
      <div class="text-h6">
        <router-link
          class="text-white text-underline"
          :to="{ name: 'TaskDetail', params: { id: task.id } }"
        >
          {{ task.title }}
        </router-link>
      </div>
      <div class="text-subtitle2 q-my-sm">
        {{
          new Date(task.endDate).toLocaleDateString("en-US", {
            year: "numeric",
            month: "short",
            day: "numeric",
            hour: "numeric",
            minute: "numeric",
          })
        }}
        <q-chip
          text-color="white"
          :icon="task.state === 'completed' ? 'done' : 'pending'"
          :color="task.state === 'completed' ? 'green' : 'orange'"
          :label="task.state === 'completed' ? 'Completed' : 'Todo'"
        >
        </q-chip>
      </div>
      <q-chip dense :key="keyTag" v-for="(tag, keyTag) in task.tags">
        {{ tag }}
      </q-chip>
    </q-card-section>

    <q-separator />

    <q-card-actions align="right">
      <q-btn icon="edit" @click="editTask(task)">Edit</q-btn>
    </q-card-actions>
  </q-card>
</template>
