<script setup>
import { computed } from "vue";
import { useLayoutStore } from "@/stores/layout";

import TaskShortEdit from "@/components/forms/TaskShortEdit.vue";

const layoutStore = useLayoutStore();

const components = {
  TaskShortEdit,
};

const rightDrawerOpen = computed({
  get() {
    return layoutStore.rightDrawerStatus;
  },
  set(status) {
    if (status) {
      layoutStore.openRightDrawer();
    } else {
      layoutStore.closeRightDrawer();
    }
  },
});
</script>
<template>
  <q-drawer
    v-model="rightDrawerOpen"
    side="right"
    :width="400"
    overlay
    bordered
    class="bg-grey-2"
  >
    <q-toolbar class="text-primary">
      <q-space />
      <q-btn
        round
        dense
        color="negative"
        icon="close"
        @click="rightDrawerOpen = false"
      />
    </q-toolbar>
    <div class="q-pa-md">
      <component :is="components[layoutStore.rightDrawerComponent]"></component>
    </div>
  </q-drawer>
</template>

<style lang="scss" scoped></style>
