<script setup>
import { useTaskStore } from "@/stores/task";
import { useQuasar } from "quasar";

import TasksTable from "@/components/tables/TasksTable.vue";
import TasksCards from "@/components/cards/TasksCards.vue";

const $q = useQuasar();
const taskStore = useTaskStore();

const fetchTasks = async () => {
  try {
    await taskStore.fetchTasks();
  } catch (e) {
    $q.notify({
      type: "negative",
      message: e.message,
    });
  }
};
//for dummy works
if (taskStore.tasks.length === 0) {
  fetchTasks();
}
</script>
<template>
  <q-page padding>
    <h1 class="text-h3">Task List</h1>
    <tasks-table />
    <tasks-cards />
  </q-page>
</template>
