<script setup>
import { onBeforeUnmount } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useTaskStore } from "@/stores/task";
import { useQuasar } from "quasar";
import TaskFullForm from "@/components/forms/TaskFullForm.vue";

const taskStore = useTaskStore();
const route = useRoute();
const router = useRouter();

const fetchTask = async () => {
  try {
    await taskStore.fetchTask(route.params.id);
  } catch (e) {
    $q.notify({
      type: "negative",
      message: e.message,
    });
  }
};

const $q = useQuasar();

const saveTask = (data) => {
  try {
    taskStore.updateTask(data);
    $q.notify({
      type: "positive",
      message: "Saved!",
    });
    router.push({
      name: "TaskList",
    });
  } catch (e) {
    $q.notify({
      type: "negative",
      message: e.message,
    });
  }
};

fetchTask();

onBeforeUnmount(() => {
  taskStore.setTask(null);
});
</script>
<template>
  <q-page padding>
    <h1 class="text-h3">Task Edit</h1>
    <task-full-form
      :task="taskStore.task"
      v-if="taskStore.task"
      @submit="saveTask($event)"
    />
  </q-page>
</template>
