<script setup>
import { ref } from "vue";
import { useLayoutStore } from "@/stores/layout";
import DrawerRight from "@/components/layout/DrawerRight.vue";
import TaskNewModal from "@/components/modals/TaskNewModal.vue";

const layoutStore = useLayoutStore();

const leftDrawerStattus = ref(false);

const toggleLeftDrawer = () => {
  leftDrawerStattus.value = !leftDrawerStattus.value;
};
</script>

<template>
  <q-layout view="hHh Lpr fFf">
    <q-header elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar class="mobile-hide">
        <q-btn flat icon="home" to="/" />
        <q-space />
        <q-btn
          flat
          icon="add"
          label="Add New"
          @click="layoutStore.openNewTaskModal()"
        />
      </q-toolbar>
      <q-toolbar class="desktop-hide">
        <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" />
        <q-space />
        <q-btn flat icon="add" @click="layoutStore.openNewTaskModal()" />
      </q-toolbar>
    </q-header>

    <task-new-modal />
    <drawer-right />

    <q-drawer v-model="leftDrawerStattus" side="left" bordered>
      <q-scroll-area class="fit">
        <q-list padding>
          <q-item clickable v-ripple to="/">
            <q-item-section avatar>
              <q-icon name="home" />
            </q-item-section>
            <q-item-section>Tasks</q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer elevated class="bg-grey-6 text-white dynamic-footer">
      <q-toolbar>
        <q-toolbar-title> Lorem Ipsum is simply dummy text </q-toolbar-title>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>
