<script setup>
import { provide, onBeforeUnmount } from "vue";
import { useTaskStore } from "@/stores/task";
import { useLayoutStore } from "@/stores/layout";
import { useForm } from "vee-validate";
import { useQuasar } from "quasar";

import TaskTitleInput from "@/components/inputs/TaskTitleInput.vue";
import TaskEndDateInput from "@/components/inputs/TaskEndDateInput.vue";
import TaskTagsInput from "@/components/inputs/TaskTagsInput.vue";

const taskStore = useTaskStore();
const layoutStore = useLayoutStore();

const { errors, handleSubmit } = useForm();
provide("errors", errors);

const $q = useQuasar();

const onSubmit = handleSubmit((data) => {
  try {
    taskStore.updateTask({
      ...taskStore.task,
      ...data,
    });
    layoutStore.closeRightDrawer();
    $q.notify({
      type: "positive",
      message: "Saved!",
    });
  } catch (e) {
    $q.notify({
      type: "negative",
      message: e.message,
    });
  }
});

onBeforeUnmount(() => {
  taskStore.setTask(null);
});
</script>
<template>
  <form @submit.prevent="onSubmit()">
    <task-title-input :title="taskStore.task.title" />
    <task-end-date-input :endDate="taskStore.task.endDate" />
    <task-tags-input :tags="taskStore.task.tags" />
    <q-btn
      icon="send"
      type="submit"
      color="primary"
      label="Submit"
      class="q-mt-lg full-width"
    />
  </form>
</template>
