<script setup>
import { provide, defineEmits, defineProps } from "vue";
import { useForm, useField } from "vee-validate";
import * as yup from "yup";

import TaskTitleInput from "@/components/inputs/TaskTitleInput.vue";
import TaskEndDateInput from "@/components/inputs/TaskEndDateInput.vue";
import TaskTagsInput from "@/components/inputs/TaskTagsInput.vue";

const props = defineProps({
  task: Object,
});

const emit = defineEmits(["submit"]);

const { errors, handleSubmit } = useForm();
const { value: description } = useField(
  "description",
  yup.string().nullable(),
  {
    initialValue: props.task.description,
  }
);
const { value: state } = useField(
  "state",
  yup.string().nullable().oneOf(["completed", "todo"]),
  {
    initialValue: props.task.state,
  }
);

provide("errors", errors);

const onSubmit = handleSubmit((data) => {
  emit("submit", {
    id: props.task.id,
    ...data,
  });
});
</script>
<template>
  <form id="task-form" @submit.prevent="onSubmit()" v-if="props.task">
    <task-title-input :title="props.task.title" />
    <task-end-date-input :endDate="props.task.endDate" />
    <task-tags-input :tags="props.task.tags" />
    <q-select
      class="q-mb-sm"
      filled
      :options="['completed', 'todo']"
      label="State"
      :error="!!errors.state"
      v-model="state"
    />
    <q-editor v-model="description" min-height="5rem" class="q-mb-sm" />
    <q-btn
      icon="send"
      type="submit"
      color="primary"
      label="Submit"
      class="q-mt-lg full-width"
    />
  </form>
</template>
